@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .advice-card {
        background-color: hsl(217, 19%, 24%);
        @apply text-white text-opacity-70 text-2xl rounded-3xl;
        @apply mx-auto max-w-[600px];
    }

    .dicebutton {
        @apply bg-green-400 rounded-[50%] py-4 px-3 my-[-1.5rem];
        position: relative;
        top: 1em;
    }
}

@layer utilities {
    .dicebutton-standby {
        @apply opacity-100;
    }

    .dicebutton-fetching {
        @apply opacity-50;
    }

    .dicebutton-hover {
        background-color: rgb(90, 252, 76);
        box-shadow: 0 0 30px 5px rgb(21, 248, 248);
    }

    a {
        @apply text-gray-50;
    }
}
